<footer class="bg text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 footerinfo">
          <h5 class="text-uppercase">Shipping Total & Fulfillment</h5>
  
          <p>
            The shipping total is calculated by taking the sum of "shipping cost" in column two in the first set of data. Each "shipping price" is set by the carrier and we filter our shipping software to find the cheapest option based on the customer's selection. The fulfillment total includes all costs associated with preparing the item for shipment. 
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 footerinfo">
          <h5 class="text-uppercase">Line Item Total</h5>
  
          <p>
            The line item total is calculated by the sum of "item cost" in column three of the second data table. This is the price per garment so orders with multiple items are listed separately to determine the price based on sku. 
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #3A4149; color: white;">
      © 2021 Copyright:
      <a class="text-light" href="https://inkpressions.com/">InkPressions.com</a>
    </div>
    <!-- Copyright -->
  </footer>