<app-navbar></app-navbar>
<div class="container">
    <h6>January Total</h6>
  <div class="row">
      <div class="col-md-12">
          <mat-card class="total-all">
              <span class="data-number">$30,559.97</span>
          </mat-card>    
      </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-4">
          <mat-card class="shipping-card">
              <div class="float-left">
                <h6>Shipping</h6>
              </div>
              <img class="shipping-icon" src="./assets/delivery-truck.svg" alt="">
              <mat-divider class="mat-height"></mat-divider> 
              <span class="data-number">$12,638.07</span>
          </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="fulfillment-card">
            <div class="float-left">
                <h6>Fulfillment</h6>
              </div>
              <img class="shipping-icon" src="./assets/cardboard-box.svg" alt="">
              <mat-divider class="mat-height"></mat-divider> 
              <span class="data-number">$2,866.20</span>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="lineitem-card">
            <div class="float-left">
                <h6>Line Items</h6>
              </div>
              <img class="shipping-icon" src="./assets/monitor.svg" alt="">
              <mat-divider class="mat-height"></mat-divider> 
              <span class="data-number">$15,055.70</span>
        </mat-card>
    </div>
  </div>
  <!-- start feb -->
  
