.col-md-4 {
    margin-top: 2%;
}
body {
    background-color: #2F353A;
}
h6 {
    font-size: 18px;
    margin-top: 2%;
    color: white;
}
.footer {
    margin-top: 15%;
    width: 100%;
}
.headers {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    color: white;
    font-size: 16px;
}
.headerx {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    color: white;
    font-size: 16px;
}
.input {
    margin-top: 5%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    width: 30%;
    color: white;
    font-size: 18px;
}
.up-arrow {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
}
.change-month {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.dropdown {
    margin-top: 2%;
}
.btn {
    background-color: #0F9D58;
    outline: none;
    border: none;
}
.btt {
    color: white;
    margin-top: 1.5%;
    font-size: 14px;
}
.backtotop {
    margin: 0 auto;
    height: 50px;
    width: 50px;
}
.backtotop:hover {
    cursor: pointer;
}
.divide {
    margin-top: 10%;
    margin-bottom: 5%;
}
.main-table {
    max-height:42vh;
    overflow-y:scroll;
    overflow-x:hidden;
}
.item-content {
    display: flex;
    justify-content: space-around;
    margin: 2%;
    background-color: #3A4149;
    color: white;
    font-size: 16px;
}
.item-contents {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    background-color: #3A4149;
    color: white;
    font-size: 16px;
}
.shipping-icon {
    height: 50px;
    width: 50px;
}
.data-number {
    margin-top: 10%;
    font-size: 30px;
}
.mat-height {
    margin-top: 12%;
}
.float-left {
    position: absolute;
    left: 0;
    margin: 5%;
}
.shipping-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: white;
    background-color: #20A8D8;
}
.fulfillment-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: white;
    background-color: #F86C6B;
    /* background-color: #FFC107; */
}
.lineitem-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: white;
    background-color: #FFC107;
    /* background-color: #F86C6B; */
}
.row {
    margin-top: 2%;
}
.total-all {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3A4149;
    color: white;
}

@media only screen and (min-width: 768px) {
    .col-md-4 {
        height: 20vh;
        margin-top: 0;
    }
    body {
        background-color: #2F353A;
    }
    .shipping-card {
        height: 100%;
    }
    .fulfillment-card {
        height: 100%;
    }
    .lineitem-card {
        height: 100%;
    }
    .row {
        margin-top: 2%;
    }
    h6 {
        font-size: 18px;
        margin-top: 2%;
    }
    .shipping-icon {
        height: 50px;
        width: 50px;
    }
    .mat-height {
        margin-top: 15%;
    }

}